.gif {
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   width: 250px;
   cursor: pointer;
   margin-bottom: 20px;
   transition: 300ms;
   position: relative;
}

@media (max-width: 900px) {
   .gif {
      transform: scale(0.9);
   }

   .my-masonry-grid_column {
      width: 250px !important;
   }
}

.gif:hover {
   transform: scale(1.01);
}

.gif .item-img {
   width: 100%;
   height: 100%;
   border-radius: 5px;
}

.heart-box {
   position: absolute;
   top: 5px;
   right: 5px;
   width: 35px;
   height: 35px;
   overflow: hidden;
   border: 1px solid #000;
   border-radius: 50%;
   background: #fff;
   margin: 5px;
}

.heart {
   position: absolute;
   top: 0;
   right: 0;
   height: 100%;
   width: 100%;
   background: url("../../public/heart.png") no-repeat;
   background-position: left;
   background-size: 2900%;
   transform: scale(2);
}

.heart:focus{
   animation: animateHeart .8s steps(28) 1;
}

.heart-active {
   
   background-position: right;
}

@keyframes animateHeart {
   0% {
      background-position: left;
   }

   100% {
      background-position: right;
   }
}